/* ------------------------------------------- CSS for the index page ---------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 800px;
}

.ind {
  background: url(https://images.unsplash.com/photo-1536732123440-08c564e22de0?ixlib=rb-1.2.1&w=1000&q=80);
}

/* Style the header */

header {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  background-image: url(https://images6.alphacoders.com/893/893236.jpg);
  background-position: 20%;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  width: 100%;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  -webkit-background-size: cover;
  background-size: cover;
  animation: move 5s infinite;
}

header>h4 {
  margin-top: 0px;
  clear: both;
}

header>h1 {
  margin-bottom: 3px;
  clear: both;
}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: inline-block;
  margin-bottom: 9px;
}

.polaroid>h3 {
  padding-left: 10px;
}

.polaroid>h3 {
  margin-bottom: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: auto;
  max-width: 1100px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

article>p::first-letter {
  font-size: 40pt;
}

div>p::first-letter {
  font-size: 20pt;
}

header form {
  position: relative;
  left: 35%;
}

header img {
  float: left;
  position: relative;
  left: 0%;
  border: 2px solid #345116;
  width: 200px;
  height: 100px;
  padding: 3px;
}

#here {
  right: 0;
  margin: 0px;
  padding: 0%;
  clear: right;
  height: 20px;
}

/* Container for flexboxes */

section {
  display: -webkit-flex;
  display: flex;
}

article a:hover {
  color: #d691c7;
  font-size: 110%;
  transition: .2s;
}

/* Style the ##navigation menu */

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

div.scrollmenu a {
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: white;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: left;
  opacity: .9;
  background: #21211e;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Style the content */

article {
  background-color: #f1f1f1;
  padding: 0px;
}

/* Style the footer */

footer {
  background: url(http://pngimg.com/uploads/mountain/mountain_PNG20.png);
  background-position-y: 75%;
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  color: white;
  border-radius: 30% 30% 0 0;
}

footer a {
  color: #ffe493;
}

#nav li a {
  color: #fcf1bf;
}

@keyframes move {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(.99)
  }
}

article>h2 {
  text-align: center;
  text-shadow: 1px 1px 1px #a3a5a8;
  margin-right: 150px;
}

.icons {
  margin-top: 1100px;
  border: 1px solid #42413c;
}

footer>p:nth-of-type(2) {
  margin: 0;
  margin-left: 1500px;
  color: #fcf1bf;
}

.container p {
  color: black;
  font-size: 110%;
}

.polaroid:hover {
  background: #42413c;
}

article a:hover p {
  color: #FFF;
  font-size: 110%;
  transition: .2s;
}

img, img.scale-with-grid {
  outline: 0;
  max-width: 100%;
}

header button {
  float: right;
  width: 90px;
  height: 45px;
  background: #42413c;
  color: white;
  border: #dbb882 2px solid;
  margin: 3px;
}

header button:hover {
  background: #e7dfb3;
  color: rgb(54, 39, 39);
  cursor: hand;
  transition: .2s;
}

#id01, #id02 {
  max-width: 320px;
  color: #FFF;
  padding: 0%;
}

#id01 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#id02 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form a {
  color: #ffe493;
}

/* Set a style for all buttons */

form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 3px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  background: #42413c;
  margin: 0%;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.cont {
  padding: 16px;
  background-color: #42413c;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  top: 0;
  right: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
  transition: .2s;
}

#success {
  color: #ffe493;
}

#logButton>h4 {
  float: right;
  display: inline;
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 80%;
  color: #0a3d25;
  text-shadow: .5px .5px 0px white;
  margin: 0px;
  margin-right: 20px;
  width: 200px;
}

#out {
  position: absolute;
  right: 5%;
  top: 20%;
  display: inline;
  background: white;
  color: black;
  font-style: italic;
  border: 1px solid #85670e;
  text-shadow: #000;
  font-weight: 600;
  margin: 3px;
}

#out:hover {
  background: black;
  color: white;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.error {
  color: red;
  font-size: 80%;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.polaroid img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.polaroid:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}


.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid white;
  background: rgb(214, 161, 46);
  color: white;
  border-radius: 25px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text;
}

.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: white;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.search.active, .search:hover {
  width: 200px;
  margin-right: 0px;
}

.search.active:after, .search:hover:after {
  height: 0px;
}

.search input {
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}

#mainnav{
    display: flex;
    justify-content: space-between;
}

#leftnav{
 display: flex;
}

.cntr{
  margin-right:5px;
  margin-top:5px;
}